<section class="flex flex-col">
    {{> components/menu/main }}
    {{> components/banner-inicial/main }}
    {{> components/nossos-produtos/main }}
    {{> components/card-call/main }}
    {{!-- {{> components/regioes/main }} --}}
    {{> components/pagamentos/main }}
    {{> components/qualidades/main }}
</section>
 