<div id="menu" class="fixed close-menu text-white bg-black w-full h-screen z-10">
    <div id="close-menu" class="w-10 h-10 bg-white flex items-center justify-center">
        close
    </div>
    <ul class="flex w-full flex-col p-5">
        <li>item</li>
        <li>item</li>
        <li>item</li>
        <li>item</li>
        <li>item</li>
        <li>item</li>
        <li>item</li>
    </ul>
</div>