@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root{
        --roxo-escuro:#4A248B;
        --roxo-escuro-meio-transparente:#4a248be7;
        --roxo-escuro-transparente:#4a248b41;
        --roxo:#5750C0;
        --roxo-transparente: #170127;
        --branco-brilhante:#D7E6F9;
        --azul-escuro:#08546E;
        --azul-escuro-transparente:#08546e60;
        --azul-mais-claro:#31709C;
        --azul-transparente:#00011fbd;
        --azul-slide: #00001c;
        --preto:#000306;
        --preto-transparente:#000306da;
    }
}

