.produto-item {
    background-repeat: no-repeat;
    background-size: cover;
}
.fundo-produtos {
    /* background-image: url("/images/backgrounds/wave.svg"); */
    background-repeat: no-repeat;
    background-position-y:bottom;
}
