* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery{
    display: flex;
    flex-flow: row nowrap;
    gap:10px;
}

.gallery-wrapper{
    overflow-x: auto;
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slider-container{
    position: relative;
    padding: 0px;
    max-width: 640px;
    margin: 0 auto;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    cursor: pointer;
    color: white;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 1;
    transition: all 600ms ease-in-out;
}

.arrow-right {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    color: white;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left:hover,
.arrow-right:hover{
    opacity: 1;
}

.gallery-item {
    height: 250px;
    flex-shrink: 0;
    opacity: 1;
    transition: all 600ms ease-in-out;
}

.gallery-current {
    opacity: 1;
}