<div class="flex w-full h-screen banner">
    <div class="banner-gradient text-[--branco-brilhante] flex flex-col p-10">
        {{> header}}
        <div class="card-banner flex flex-col flex-1 justify-center">
            <h2 class="text-2xl sombra-texto drop-shadow-md font-bold">VOCÊ SONHA <br> E A GENTE REALIZA!</h2>
        </div>
        <div class="flex flex-1 flex-col items-center">
            <P class="text-xl text-left font-light">Transformamos sua visão em realidade, criando coberturas de vidro elegantes.
            </P>
            <br>
            <P class="text-xl text-left font-light">Agende seu orçamento sem compromisso.
            </P>
        </div>
        <div class="flex w-full flex-1 items-center flex">
            <div class="bg-green-500 flex h-16 items-center justify-around p-6 rounded-full shadow-xl shadow-[--preto-transparente]">
                <img src="images/icons/whats.svg" class="w-10 h-10" alt="">
                <span class="ml-2 text-xl text-center">entre em contato!</span>
            </div>
        </div>
    </div>
</div>