<div class="h-fit p-10 sm:px-20 md:px-30 lg:px-40 xl:px-50 flex flex-col gap-4">
    {{> components/social/social-item 
        icon="instagram" 
        textContent="@domGlass" 
        link="https://www.instagram.com/jeff_erthal/" }}

    {{> components/social/social-item 
        icon="facebook" 
        textContent="Acesse nossa página oficial" 
        link="https://www.facebook.com/domglasscoberturas" }}

    {{> components/social/social-item 
        icon="gmail" 
        textContent="domglasscoberturas@gmail.com" 
        link="@domGlass" }}

    {{> components/social/social-item 
        icon="whats" 
        textContent="Iniciar conversa" 
        link="https://wa.me/5541995907003" }}
</div>

<script>

Array
    .from(document.querySelectorAll(".social-network"))
    .forEach(i => {
        const [tagA] = i.getElementsByTagName('a');
        i.onclick = () => tagA.click();
    })
</script>