<div class="w-full p-10 h-1/3 flex items-center flex-col">
    <img class="w-12 flex items-center justify-center mb-2" src="images/icons/{{ iconname }}.svg" alt="">
    <p class="text-center" >{{ textcontent }}</p>
</div>