<div class="p-10 sm:px-20 flex gap-4 md:px-30 lg:px-40 xl:px-50 bg-[--azul] text-white">
    {{> components/titulo content="Atendemos e Curitiba e toda a região metropolitana" color="white"}}
        
    <div class="w-34 h-36">
        <iframe width="204" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=10000&amp;hl=en&amp;q=Curitiba&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
        </iframe>
        </div>
</div>