<div class="flex w-full h-fit flex-col bg-black text-white">
    {{> components/qualidades/qualidade 
        iconname="missao" 
        textcontent="Como especialistas em coberturas de vidro, nossa missão é nossa bússola. Ela guia nossa busca por soluções que harmonizam estética e funcionalidade, criando espaços memoráveis e seguros." 
    }}
    {{> components/qualidades/qualidade 
        iconname="valores" 
        textcontent="Os valores são nosso escudo. Integridade garante excelência ética, responsabilidade molda nossa qualidade, e trabalho em equipe une nossa expertise para oferecer soluções superiores."
    }}
    {{> components/qualidades/qualidade 
        iconname="visao" 
        textcontent="Nossa visão é o olho que nos leva a novas fronteiras. Visualizamos um futuro onde nossas inovadoras coberturas de vidro transformam cada espaço, impulsionadas pela excelência e designs pioneiros."
    }}
</div>