<div class="bg-black sm:px-20 md:px-30 lg:px-40 xl:px-50">
    <div class="flex w-full h-fit flex-col text-white">
        {{> components/qualidades/qualidade 
            iconname="missao" 
            textcontent="Como especialistas em coberturas de vidro, nossa missão é nossa bússola. Ela guia nossa busca por soluções que harmonizam estética e funcionalidade, criando espaços memoráveis e seguros." 
        }}
        {{> components/qualidades/qualidade 
            iconname="valores" 
            textcontent="Os valores são nosso escudo. Integridade garante excelência ética, responsabilidade molda nossa qualidade, e trabalho em equipe une nossa expertise para oferecer soluções superiores."
        }}
        {{> components/qualidades/qualidade 
            iconname="visao" 
            textcontent="Visualizamos um futuro onde nossas inovadoras coberturas de vidro transformam cada espaço, impulsionadas pela excelência e designs pioneiros."
        }}
    </div>
</div>
